<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <title>TEACHER COMPOSE</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default ">
    <div class="container " >
      <div class="navbar-header">
        <p class="navbar-brand"> COMPOSE </p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/homeTch">HOME</a></li>
          <li id="about"><a href="/suggestionTch">SUGGESTION</a></li>

          <li id="contact"><a href="/showStdComplain">COLLEGE COMPLAIN</a></li>
          <li><a href="/composeTch">COMPOSE</a></li>
          <li><a href="/logout">LOGOUT</a></li>

        </ul>
    </div>
  </nav>

  <body>
    <div class="container">

<form  id='myform' method="post" action ="/composeTch">
  <h4>Name</h4>
    <input type="text" class="form-control" name="postName" maxlength="30" placeholder="Name Not Mentioned"  required>
  <br>
<h4>Title</h4>
<input type="text" class="form-control" name="postTitle" required ><br>
<select name="branch" id="">
  <option value="branch">BRANCH</option>
  <option value="All">ALL</option>
    <option value="CSE">CSE</option>
    <option value="ME">ME</option>
    <option value="IT">IT</option>
    <option value="CIVIL">CIVIL</option>
    <option value="EE">EE</option>
    <option value="EC">EC</option>
  </select>

<select name="year" id="" style="margin-left: 30px" >
  <option value="year">YEAR</option>
   <option value="ALL">ALL</option>
    <option value="1">1 st year</option>
    <option value="2">2 nd year</option>
    <option value="3">3 rd year</option>
    <option value="4">4 th year</option>
  </select>

<select name="section" id="" style="margin-left: 30px" required>
  <option value="section">SECTION</option>
 <option value="ALL">ALL</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
  </select>
<br><br>
<h4>Probelm</h4>
<textarea  rows="5" cols="50"  class="form-control" name="postContent" required></textarea><br>

<input type="radio" name="complain" value="suggestion" required>
  <label for="1">Suggestion</label><br>
<input type="radio" name="complain" value="complain" required>
  <label for="2">Complain</label><br>

<button type="submit" class="btn btn-primary">Proced</button>
</form>
</div>
</body>
</html>
