<!DOCTYPE html>
<html lang="en" dir="ltr">

<shead>
  <meta charset="utf-8">
  <title>Home</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  
  <div class="jumbotron centered">

  <div class="container">
    
    <h1>COMPLAIN MANAGEMENT SYSTEM</h1>
    <hr>
    
    <label>Students:</label><br>
    <div class="margin ">
    <a class="btn btn-light btn-lg" href="/registerStd" role="button">Student Registation </a>
    <a class="btn btn-dark btn-lg" href="/loginStd" role="button">Login Student</a> 
    <br>
    <hr>
    <label>Teachers:</label><br>
    <a class="btn btn-light btn-lg" href="/registerTch" role="button"> Teacher Registation</a>
    <a class="btn btn-dark btn-lg" href="/loginTch" role="button">Login Teacher</a> 
    </div>
    <hr><br>
    <h4>Created By:</h4>
    <h6> Bharat Kalwani</h6> <h6>Ambesh Sharma</h6>
  </div>
</div>
</body>
</html>
