<!DOCTYPE html>
<html lang="en">
<head>

     <title>Hydro - Landing Page Template</title>
<!--
Hydro Template
http://www.templatemo.com/tm-509-hydro
-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/templatemo-style.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/.css">
</head>
<style>

.top-container{
  background-color:#E4F9F5;
  position: relative;
  padding-top: 24px;

.btn{
      padding-left: 166px;
  }



}</style>



<body class="top-container">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a  style="font-family:verdana"class="nav-link" href="https://gitjaipur.com/">Global Institute of Technology<style"color:323232"></style> <span class="sr-only">(current)</span></a>



      </ul>

    </div>
  </nav>


  <div class="btn" style="padding-right:400px"><center>
  <a style="margin:100px;padding:50px"class="btn btn-primary btn-lg " href="/homeStd" role="button">Hostel </a>
  <br><br></center>
  <!--<iframe src="https://giphy.com/embed/Uv8Ta4p6YryoilH5Bp" width="400" height="400"
  frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p>
  <a href="https://giphy.com/stickers/business-startup-growth-Uv8Ta4p6YryoilH5Bp">via GIPHY</a></p>
  -->
  <a style="margin:100px;padding:50px"class="btn btn-secondary btn-lg" href="/collegeStd" role="button">College</a>
     </div>


</body>
</html>
