
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 100px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.margin{
	margin left:    50px;
}
.mar{
	margin right:     50px;	
}

.cen{
	padding-left: 10px;
	padding-top: 0px;

}
.fixed-top{
	position: fixed;
	 margin-left:15px;
	 

}